@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Rajdhani:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

#visual {
  width: 100%;
  height: 100vh;
  background: #efefef;
  position: relative; }
  #visual > .pic {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/visual1.jpg) no-repeat center/cover;
    opacity: 0.1; }
  #visual .inner {
    width: 1180px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 170px;
    position: relative; }
    #visual .inner h1 {
      font: bold 70px/1 'arial';
      color: #111;
      margin-bottom: 20px; }
    #visual .inner > p {
      width: 40%;
      font: 16px/1.7 'arial';
      color: #555; }
    #visual .inner .list {
      width: 53%;
      height: 270px;
      padding: 30px;
      position: absolute;
      top: 190px;
      right: 0;
      background: #111; }
      #visual .inner .list::after {
        content: '';
        display: block;
        clear: both; }
      #visual .inner .list h2 {
        width: 130px;
        font: 28px/1 'arial';
        color: #ddd;
        margin-bottom: 30px; }
        #visual .inner .list h2::before {
          content: '';
          display: block;
          width: 80px;
          height: 2px;
          background: #eee;
          margin-bottom: 20px; }
      #visual .inner .list ul {
        width: 100%;
        position: absolute;
        bottom: 30px;
        left: 30px; }
        #visual .inner .list ul li {
          float: left;
          width: calc(100% / 4 - 20px); }
          #visual .inner .list ul li a {
            font: bold 15px/1 'arial';
            color: #ccc; }
          #visual .inner .list ul li > span {
            display: block;
            margin-top: 5px;
            font: 14px/1 'arial';
            color: #999; }
      #visual .inner .list > span {
        position: absolute;
        bottom: -40px;
        left: 0;
        font: bold 14px/1 'arial';
        color: #333; }
    #visual .inner .textBox {
      width: 100%;
      height: 420px;
      position: absolute;
      bottom: 0;
      left: 0%;
      overflow: hidden; }
      #visual .inner .textBox .text {
        width: 160px;
        height: 378px;
        position: absolute;
        top: 50%;
        padding: 50px 0;
        transform: translate(-50%, -50%);
        z-index: 2; }
        #visual .inner .textBox .text:nth-of-type(1) {
          left: 55%; }
        #visual .inner .textBox .text:nth-of-type(2) {
          left: calc(55% + 250px); }
        #visual .inner .textBox .text:nth-of-type(3) {
          left: calc(55% + 500px); }
        #visual .inner .textBox .text:nth-of-type(4) {
          left: calc(55% + 750px); }
        #visual .inner .textBox .text:nth-of-type(5) {
          left: calc(55% + 1000px); }
        #visual .inner .textBox .text > p {
          font: 14px/1 'arial';
          color: #ff5b20;
          margin-top: 30px;
          margin-bottom: 20px;
          z-index: 2; }
        #visual .inner .textBox .text h3 {
          font: bold 28px/1.4 "Rajdhani";
          color: #111;
          z-index: 2;
          border-bottom: 1.5px solid #333;
          padding-bottom: 20px;
          margin-bottom: 20px; }
        #visual .inner .textBox .text span {
          display: block;
          width: 100%;
          position: relative;
          z-index: 2; }
          #visual .inner .textBox .text span:hover a {
            font-size: 14px; }
          #visual .inner .textBox .text span:hover i {
            transform: translateX(-20px); }
          #visual .inner .textBox .text span a {
            font: 13px/1 'arial';
            color: #222;
            transition: 0.5s; }
            #visual .inner .textBox .text span a i {
              font-size: 14px;
              color: #222;
              position: absolute;
              top: 50%;
              right: 0px;
              margin-top: -6px;
              transition: 0.5s; }
  #visual .rolling {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    transition: 1s; }
    #visual .rolling article {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0;
      transition: 0.5s;
      z-index: 1; }
      #visual .rolling article:hover .pic video {
        opacity: 0.9; }
      #visual .rolling article .pic {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 1s; }
        #visual .rolling article .pic video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.5s;
          opacity: 0;
          filter: brightness(0.5); }
      #visual .rolling article:nth-of-type(1) .pic {
        clip-path: polygon(80%, 82%); }
      #visual .rolling article:nth-of-type(2) .pic {
        clip-path: polygon(82%, 84%); }
      #visual .rolling article:nth-of-type(3) .pic {
        clip-path: polygon(84%, 86%); }
      #visual .rolling article:nth-of-type(4) .pic {
        clip-path: polygon(86%, 88%); }
      #visual .rolling article:nth-of-type(5) .pic {
        clip-path: polygon(88%, 90%); }

/*# sourceMappingURL=style.css.map */
