@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Rajdhani:wght@300;500&display=swap');
//'Rajdhani', 'Gowun Dodum'


// #E18B6B 다크연어
// #F9966B 빛연어
// #C36241 녹
// #C47451 오렌지연어
// #7F462C 세피아

$mainFon: 'Rajdhani'; 

$mainCol: rgb(255, 91, 32);

@mixin title($fontS:28px, $mb:40px, $color:#eee, $textAl:center){
    font: bold $fontS/1 $mainFon;
    color: $color;
    text-align: $textAl;
    margin-bottom: $mb;
}

@mixin title2($fontS:15px, $color:#eee, $mb:80px){
    font: $fontS/1 $mainFon;
    color:  $color;
    text-align: center;
    margin-bottom: $mb;
}


//sub
$fontKo: 'Noto Sans KR';
$subCol: #ff3f00;
$fontFam : 'Rajdhani';