@charset 'utf-8';
@import "reset.scss";
@import "custom.scss";

#visual{
    width: 100%;
    height: 100vh;
    background: #efefef;
    position: relative;

    >.pic{
        width: 100%; height: 100%;
        position: absolute;
        top: 0; left: 0;
        background: url(../img/visual1.jpg) no-repeat center/cover;
        opacity: 0.1;
    }

    .inner{
        width: 1180px; height: 100vh;
        margin: 0 auto;
        padding-top: 170px;
        position: relative;

        h1{
            font: bold 70px/1 'arial';
            color: #111;
            margin-bottom: 20px;
        }

        >p{
            width: 40%;
            font: 16px/1.7 'arial';
            color: #555;
        }

        .list{
            width: 53%; height: 270px;
            padding: 30px;
            position: absolute;
            top: 190px; right: 0;
            background: #111;

            &::after{
                content: ''; display: block; clear: both;
            }

            h2{
                width: 130px;
                font: 28px/1 'arial';
                color: #ddd;
                margin-bottom: 30px;

                &::before{
                    content: ''; 
                    display: block;
                    width: 80px; height: 2px;
                    background: #eee;
                    margin-bottom: 20px;
                }
            }

            ul{
                width: 100%;
                position: absolute;
                bottom: 30px; left: 30px;

                li{
                    float: left;
                    width: calc(100% / 4 - 20px);

                    a{
                        font: bold 15px/1 'arial';
                        color: #ccc;
                    }

                    >span{
                        display: block;
                        margin-top: 5px;
                        font: 14px/1 'arial';
                        color: #999;
                    }
                }
            }
            
            >span{
                position: absolute;
                bottom: -40px; left: 0;
                font: bold 14px/1 'arial';
                color: #333;
            }
        }

        .textBox{
            width: 100%; height: 420px;
            position: absolute;
            bottom: 0; left: 0%;
            overflow: hidden;

            .text{
                width: 160px; height: 378px;
                position: absolute;
                top: 50%;
                padding: 50px 0;
                transform: translate(-50%, -50%);
                z-index: 2;

                &:nth-of-type(1){ left: 55%; }
                &:nth-of-type(2){ left: calc(55% + 250px); }
                &:nth-of-type(3){ left: calc(55% + 500px); }
                &:nth-of-type(4){ left: calc(55% + 750px); }
                &:nth-of-type(5){ left: calc(55% + 1000px); }

                >p{
                    font: 14px/1 'arial';
                    color: $mainCol;
                    margin-top: 30px;
                    margin-bottom: 20px;
                    z-index: 2;
                }

                h3{
                    font: bold 28px/1.4 $mainFon;
                    color: #111;
                    z-index: 2;
                    border-bottom: 1.5px solid #333;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                }
                
                span{
                    display: block;
                    width: 100%;
                    position: relative;
                    z-index: 2;

                    &:hover{
                        a{
                            font-size: 14px;
                        }

                        i{
                            transform: translateX(-20px);
                        }
                    }

                    a{
                        font: 13px/1 'arial';
                        color: #222;
                        transition: 0.5s;

                        i{
                            font-size: 14px;
                            color: #222;
                            position: absolute;
                            top: 50%; right:0px;
                            margin-top: -6px;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }

    }

    .rolling{
        width: 100%; height: 100vh;
        position: relative;
        overflow: hidden;
        transition: 1s;

        article{
            width: 100%; height: 100%;
            position: absolute;
            top: 0px; left: 0;
            transition: 0.5s;
            z-index: 1;

            &:hover{
                .pic video{
                    opacity: 0.9;
                }
            }

            .pic{
                width: 100%; height: 100%;
                position: absolute;
                top: 0; left: 0;
                
                video{
                    width: 100%; height: 100%;
                    object-fit: cover;
                    transition: all 0.5s;
                    opacity: 0;
                    filter: brightness(0.5);
                }
            }

            &:nth-of-type(1){
                clip-path: polygon(80% , 82%,);
            }
            
            &:nth-of-type(2){
                clip-path: polygon(82% , 84%,);
            }

            &:nth-of-type(3){
                clip-path: polygon(84% , 86%,);
            }
        }
    }
}